body {
    background: #d3d3d336;
}

header {
    background: #82b8f4;
    text-align: center;
    padding: 20px 20px;
}
input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.title {
    font-weight: bold;
    color: white;
}

.subtitle {
    color: gray;
    font-size: small;
}

.card {
    background: white;
}

.example-square {
    border: 1px solid red;
    height: 20px;
    width: 20px;
}

.result-luas {
    visibility: hidden;
}