body {
    background: #d3d3d336;
    font-family: sans-serif;
}

header {
    background: #82b8f4;
    text-align: center;
    padding: 20px 20px;
}

.pembuka {
    text-align: center;
}

.kotak-persegi {
    background: #0469dd;
    color: whitesmoke;
    text-align: center;
    padding: 5px 5px;

}

.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.rumus-luas {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.title {
    font-weight: bold;
    color: white;
}

.subtitle {
    color: gray;
    font-size: small;
}

.card {
    background: white;
}
